<!DOCTYPE html>
<html>
<head>
    <title>YOLO Detection</title>
    <style>
        body{
            font-family: Arial;
            text-align:center;
            margin-top:40px;
        }

        img{
            max-width:800px;
            border:2px solid black;
            margin-top:20px;
        }

        .container{
            width:80%;
            margin:auto;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>YOLO Image Detection</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Detect</button>
    </form>

    {% if output_image %}
        <h2>Detection Result</h2>
        <img src="{{ url_for('static', filename='results/' + output_image) }}">
    {% endif %}
</div>

</body>
</html>